<launch>

  <param name="use_sim_time" value="false"/>

  <env name="ROSCONSOLE_FORMAT" value="[${thread}] [${node}/${function}:${line}]: ${message}"/>

  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" >
    <param name="local_xy_frame" value="/fixed"/>
    <param name="local_xy_origin" value="mas_llunes"/>
    <rosparam param="local_xy_origins">
      [{ name: swri,
         latitude: 29.45196669,
         longitude: -98.61370577,
         altitude: 233.719,
         heading: 0.0},
         
       { name: mas_llunes,
         latitude: 42.342723,
         longitude: 3.058918,
         altitude: 200.0,
         heading: 0.0}]
    </rosparam>
  </node>

<!--  <node pkg="tf" type="static_transform_publisher" name="swri_transform" args="0 0 0 0 0 0 /fixed /odom 100"  />-->

  <!-- Needed only for searching for services -->
  <node pkg="rosapi" type="rosapi_node" name="rosapi"/>

</launch>
